.game-container {
	border-left: 1px solid #0a0a0a;
	border-right: 1px solid #0a0a0a;
}

.cards {
	height: 150px;
	border: 1px solid #0a0a0a;
}

.white {
	height: 150px;
	border: 1px solid #0a0a0a;
}

.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}