* {
	font-family: 'Lato', sans-serif;
}

.header {
	/*background-image: url();*/
	line-height: 54px;
	height: 60px;
	text-align: right;
	vertical-align: middle;
	border-bottom: 2px solid black;
	/*margin-left: 0.25%;
	margin-right: 0.25%;*/
}

.row {
	padding: none;
}

.btn {
	border-radius: 2px;
}

.btn.active {
	box-shadow: none;
	background-color: #d8cccc;
	color: black;
	border-color: black;

}

.btn.active:hover {
	background-color: #eee9e9;
	color: black;
	border-color: black;
}

.btn:hover {
	background-color: #eee9e9;
	color: black;
	border-color: black;
}

.okay {
	background-color: #fff;
	color: #f15a29;
	border: none;
	height: auto;
	font-size: 2.5em;
}

.okay:hover {
	background-color: #fff;
	color: #f15a29;
}

.okay.active {
	border-style: none;
	box-shadow: none;
}

.play {
	background-color: #fff;
	color: #f15a29;
	border: none;
	height: auto;
	font-size: 2em;
}

.play:hover {
	background-color: #fff;
	color: #f15a29;
}

.play:visited {
	background-color: #fff;
	color: #f15a29;
}

.play.active {
	color: #f15a29;
	border-style: none;
	box-shadow: none;
}


.level {
	background-color: #fff;
	border-color: black;
	color: black;
	/*background-color: #15c6aa;
	border-color: #13af96;*/
}

.cards {
	height: 100px;
	/*height: 120px;*/
	/*border: 1px solid #0a0a0a;*/
}

.white {
	height: 100px;
	/*height: 120px;*/
	/*border: 1px solid #0a0a0a;*/
}

.gray {
	z-index: -5;
}

.white:hover {
	/*background-color: #a6a3a3;*/
	/*background-color: #eee9e9;*/
	border: 2px solid #3696d2;
}

.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}


.modal-dialog {
	width: 40%;
	margin: auto;
	margin-top: 10%;
}

.modal-content {
	border-radius: 2px;
}

.modal-header {
	border: none;
}

.modal-body {
	font-size: 2.5rem;
	padding-top: 18%;
	text-align: center;
}

.modal-footer {
	border: none;
}

.close:hover {
	background-color: #fff;
}


.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
    box-shadow: none;
    border: none;
}

[ng:cloak], 
[ng-cloak], 
[data-ng-cloak], 
[x-ng-cloak], 
.ng-cloak, 
.x-ng-cloak {
  display: none !important;
}


.main {
	max-width: 50%;
	margin: auto;
	border: 2px solid black;
}

.leaderboard-table {
	max-width: 80%;
	margin: auto;
}


.login {
	margin: 2%;
}

.register {
	margin: 2%;
}

.navbar {
	margin-bottom: 0%;
}

.alias {
	text-align: left;
}

.user-greeting {
	text-align: center;
}

.user-info {
	color: #f15a29;
}
