* {
	font-family: 'Lato', sans-serif;
}

.header {
	/*background-image: url();*/
	line-height: 68px;
	height: 72px;
	text-align: right;
	vertical-align: middle;
	/*border-bottom: 1px solid #0a0a0a;*/
	background-color: #eee9e9;
	/*margin-left: 0.25%;
	margin-right: 0.25%;*/
}

.row {
	padding: none;
}

.btn {
	border-radius: 2px;
}

.btn.active {
	box-shadow: none;
	background-color: paleturquoise;
	color: black;
	border-color: black;

}

.btn.active:hover {
	background-color: paleturquoise;
	color: black;
	border-color: black;
}

.btn:hover {
	background-color: paleturquoise;
	color: black;
	border-color: black;
}

.okay {
	background-color: #fff;
	color: #c61531;
	border: none;
	height: auto;
	font-size: 2.5em;
}

.okay:hover {
	background-color: #fff;
	color: #c61531;
}

.okay.active {
	border-style: none;
	box-shadow: none;
}

.play {
	background-color: #eee9e9;
	color: #c61531;
	border: none;
	height: auto;
	font-size: 2em;
}

.play:hover {
	background-color: #eee9e9;
	color: #c61531;
}

.play:visited {
	background-color: #eee9e9;
	color: #c61531;
}

.play.active {
	color: #c61531;
	border-style: none;
	box-shadow: none;
}


.level {
	background-color: #fff;
	border-color: black;
	color: black;
	/*background-color: #15c6aa;
	border-color: #13af96;*/
}

.cards {
	height: 140px;
	/*border: 1px solid #0a0a0a;*/
}

.white {
	height: 140px;
	/*border: 1px solid #0a0a0a;*/
}

.gray {
	z-index: -5;
}

.white:hover {
	/*background-color: #a6a3a3;*/
	background-color: #eee9e9;
}

.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}


.modal-dialog {
	width: 40%;
	margin: auto;
	margin-top: 10%;
}

.modal-content {
	border-radius: 2px;
}

.modal-header {
	border: none;
}

.modal-body {
	font-size: 2.5rem;
	padding-top: 18%;
	text-align: center;
}

.modal-footer {
	border: none;
}

.close:hover {
	background-color: #fff;
}


.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
    box-shadow: none;
    border: none;
}

[ng:cloak], 
[ng-cloak], 
[data-ng-cloak], 
[x-ng-cloak], 
.ng-cloak, 
.x-ng-cloak {
  display: none !important;
}


.main {
	max-width: 50%;
	margin: auto;
	border-left: 4px solid #eee9e9;
	border-right: 4px solid #eee9e9;
	border-bottom: 4px solid #eee9e9;
}











